html {
    font-size: 15px;
}

/* Bootstrap breakpoints
(xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px)*/

/*large*/
@media only screen and (max-width: 992px) {
    html {
        font-size: 18px;
    }
}

/*medium*/
@media only screen and (max-width: 768px) {
    html {
        font-size: 20px;
    }
}

/*small screen*/
@media only screen and (max-width: 576px) {
    html {
        font-size: 20px;
    }
}